<div class="background">
    <div class="black-bg">
        <div class="container content-center">
            <div class="box content-center">
                <h1>Contact Us</h1>
                <form>
                    <div class="input-block">
                        <div class="name-input">
                            <input placeholder="First Name" type="text" name="">
                            <input placeholder="Second Name" type="text" name="">
                        </div>
                        <div class="last-block">
                            <input placeholder="Email" type="email" name="">
                            <textarea placeholder="Message" name=""></textarea>
                        </div>
                    </div>
                    <button class="btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>