<div class="background">
    <div class="black-bg">
        <div class="gallery container">
            <img [src]="image.url" alt="" *ngFor="let image of imagesArray; let i = index" (click)="openImage(i)">
            <div class="dummy"></div>
            <div class="dummy"></div>
            <div class="opened-img" *ngIf="openedImage">
                <span (click)="previousImage()">&larr;</span>
                <img [src]="imageShowed.url" alt="" (click)="closeImage()">
                <span (click)="nextImage()">&rarr;</span>
            </div>
        </div>
    </div>
</div>
