header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 100px;
    nav {
        height: 100%;
        justify-content: space-between;
        .logo {
            cursor: pointer;
        }
        .menu {
            li {
                margin-left: 40px;
                border-bottom: 1px solid transparent;
                transition: 200ms;
                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
            margin-right: 50px;
        }
        .sign-section {
            li {
                &:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
}