.sign-up-block {
    height: 100vh;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        padding: 60px 120px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
        background-color: white;
        input {
            margin-bottom: 30px;
        }
        h1 {
            color: black;
            margin-bottom: 50px;
        }
    }
}